<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Education CRUD</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img style="width: 28px; height: 28px; border-radius: 50%; margin-right: 5px;"
                                src="https://graph.facebook.com/2387231258088017/picture?width=400&amp;height=400"
                                alt="Lê Huy">
                            Lê Huy
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/course/create">Tạo khoá học</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/me/course/list">Danh sách khoá học</a></li>
                            <li><a class="dropdown-item" href="/me/news/list">Danh sách bài viết</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>